.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #fff;

    .nav-left{
        display: flex;

        .nav-item{
            padding: 0 10px;
        }
    }

    .nav-right{
        display: flex;
        align-items: center;

        .btn-nav-right{
            height: 80%;
            margin: 10px;
            position: relative;

            &:hover{
                // border: 1px solid #747bff;
            }
        }

        .comp-name:hover .sign-out-wrapper{
            display: block;
        }

            .comp-name{
                &:hover ~ .sign-out-wrapper{
                    display: block;
                }
            }

        .sign-out-wrapper{
            position: fixed;
            // background-color: #ccc;
            right: 40px;
            top: 60px;
            width: 100px;
            box-shadow: 1px 1px 1px #ccc;
            display: none;
            padding: 10px 0;
            cursor: pointer;

            .sign-out-txt{
                margin: 0;
                text-align: center;
            }

            &:hover{
                display: block;
            }
        }
    }
}