.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    background-color: #fff;

    .nav-left{
        display: flex;

        .nav-item{
            padding: 0 10px;
        }
    }

    .nav-right{
        display: flex;
        align-items: center;

        .btn-nav-right{
            height: 80%;
            margin: 10px;

            &:hover{
                border: 1px solid #747bff;
            }
        }
    }
}