.company-container{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .company-wrapper{
        border: 1px solid orange;
        border-radius: 10px;
        width: 70%;
        margin-top: 20px;

        .name{
            text-align: center;
            margin: 0;
        }

        .email-phone-wrapper{
            display: flex;
            justify-content: flex-start;

            .email{
                margin-left: 10px;
            }
    
            .phone{
                margin-left: 30px;
            }
        }

        .about{
            margin-left: 10px;
        }

        .link{
            margin-left: 10px;
        }

        .address{
            margin-left: 10px;
        }
    }
}