.company-container{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .company-wrapper{
        border: 1px solid orange;
        border-radius: 10px;
        width: 50%;
        margin-top: 20px;

        .name{
            text-align: center;
            margin: 0;
        }
        .company-detail-wrapper{
            display: flex;
            justify-content: space-around;

            .email-phone-wrapper{
                display: flex;
                flex-direction: column;
                
                .email{
                    margin-left: 10px;
                }
        
                .phone{
                    margin-left: 10px;
                }
            }
    
            .about-city-wrapper{
                display: flex;
                flex-direction: column;
                
                .about{
                    margin-left: 10px;
                }
    
                .city{
                    margin-left: 10px;
                }
            }
        }

        .link{
            margin-left: 10px;
        }
    }
}